@import "tailwindcss";

:root {
  --foreground: ##ecece9;
  --background: #111111;
  --strong: #323232;
  --strongtext: #727268;
  --grayback: #f4f4ea;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-strong: var(--strong);
  --color-strongtext: var(--strongtext);
  --color-grayback: var(--grayback);
  --font-sansMono: var(--font-sansMono);
  --font-regular: var(--font-regular);
  --font-book: var(--font-book);
  --font-bandit: var(--font-bandit);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sansMono);
}

.menu {
  visibility: hidden;
}

@supports (-webkit-touch-callout: none) {
  video {
    pointer-events: none;
  }
}

.shadow-text {
  text-shadow: 0px 0.8em 0px var(--foreground);
}

.display {
  @apply text-[clamp(80px,186px)] leading-[0.80] font-bandit uppercase mix-blend-difference;
}

.h1 {
  @apply text-[clamp(2.5rem,6.125rem)] leading-[0.86] font-bandit uppercase;
}

.h2 {
  @apply text-[clamp(54px,64px)] leading-[.95] font-bandit;
}

.h3 {
  @apply text-[clamp(24px,50px)] leading-[.95] font-bandit;
}

.h4 {
  @apply text-[clamp(20px,40px)] leading-[1.3] font-book;
}

.p {
  @apply text-[clamp(14px,16px)] leading-[1.2] font-sansMono;
}

.copy {
  @apply text-[clamp(10px,12px)] font-sansMono;
}
